@import '../../scss/colors';

.Footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7.2rem;
	padding: 0 1.6rem;
	background-color: $color-green-dark-1;

	.footerLogo {
		height: 4rem;
	}

	.cookieStatement, .copyright {
		color: $color-white;
		font-size: 1.2rem;
		letter-spacing: .3px;
	}

	.copyright {
		opacity: .4;
		margin-left: 5.7rem;
	}
}