@import '../../scss/colors';

.RoomsList {
	flex: 32%;
	background-color: $color-cream;
	padding: 3rem;

	.heading {
		font-weight: 700;
		font-size: 1.4rem;
		color: $color-green-dark-2;
		letter-spacing: .2px;
	}

	.roomsNav {
		margin-top: 2rem;
	}

	.roomLink {
		list-style-type: none;
		background-color: $color-white;
		height: 6.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 3.4rem 2.8rem;
		
		&:not(:last-child){
			border-bottom: 1px solid $color-grey-light-1;
		}

		&.active {
			background-color: $color-blue;
		}

		&:hover {
			cursor: pointer;
			background-color: lighten($color: $color-orange, $amount: 2);
			transition: all .2s;

			& .roomName, & .rightChevron {
				color: $color-white;
			}
		}
	}

	.roomName {
		font-weight: 700;
		font-size: 1.4rem;
		color: $color-green-dark-2;
	}

	.rightChevron {
		color: $color-blue;
		font-size: 1.9rem;
	}

	.roomLink.active {
		.roomName, .rightChevron  {
			color: $color-white;
		}
	}

 }