$color-green-dark-1: #0A3847;
$color-green-dark-2: #205A6D;
$color-grey-light-1: #eee;
$color-grey-light-2: #d7d7d7;
$color-cream: #F8F5F2;
$color-white: #fff;
$color-orange: #FF8000;
$color-blue: #1574F5;
$color-pink-light: #ffeef1;