@import '../../scss/colors';

.Message {
	display: flex;

	&.right {
		justify-content: flex-end;
	}

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	.avatar {
		align-self: flex-start;
		border-radius: 10rem;
		color: $color-white;
		height: 4rem;
		width: 4rem;
		display: grid;
		place-items: center;
		
		&.left {
			margin-right: 1.8rem;
			background-color: $color-orange;
		}

		&.right {
			margin-left: 1.8rem;
				background-color: $color-green-dark-2;
		}

	}

	.selectedNumber {
		margin-bottom: 1.3rem;
		height: 5.6rem;
		width: 5.6rem;
		border-radius: 5rem;
		color: $color-white;
		display: grid;
		place-items: center;
		font-size: 2.4rem;
		font-weight: 500;

		&.right {
			align-self: flex-end;
			background-color: $color-blue;
		}

		&.left {
			background-color: $color-green-dark-2;
		}
	}

	.cell {
		background-color: $color-cream;
		font-size: 1.3rem;
		color: $color-green-dark-1;
		min-width: 30rem;
		height: 4rem;
		border-radius: 3px;
		padding-left: 2.5rem;
		display: flex;
		align-items: center;
		letter-spacing: 2.2px;

		&:not(:last-child){
			margin-bottom: 1rem;
		}
	}
	.content {
		display: flex;
		flex-direction: column;
	}
}


.welcomeMessage, .joinMessage, .number, .waitMessage {
	width: 100%;
	text-align: center;
	font-weight: 600;
	margin: 1rem 0 4rem;
	word-spacing: 2px;

	span {
		font-weight: 700;
	}
}

.welcomeMessage{
	color: $color-green-dark-2;
	font-size: 1.7rem;
}

.waitMessage {
	color: $color-green-dark-2;
	font-size: 1.6rem;
	margin-top: 3.5rem;
	animation: pulse 1s ease-in-out infinite;
}

.joinMessage {
	color: #C05D78;
	font-size: 1.5rem;
}

.number {
	color: #835dc0;
	
	span {
		font-size: 1.8rem;
	}
}


@keyframes pulse {
	0% {
  	transform-origin: 50%;
		transform: scale(1);
	}

	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}